  @font-face {
      font-family: 'Euclid Circular A';
      src: url("EuclidCircularABold.woff");
      font-weight: 700;
    }
    @font-face {
      font-family: 'Euclid Circular A';
      src: url("EuclidCircularAMedium.woff");
      font-weight: 500;
    }
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }  
